html {
  font-size: 100%;
  height: 100%;
  width: 100%;
}

body {
  background-color: black;
  color: white;

  font-family: "Dejavu Sans Mono" monospace;
  font-size: 0.9em;

  height: 100%;
  width: 100%;
  margin: auto;
}

pre {
  font-family: "Dejavu Sans Mono" monospace;
  font-size: 0.9em;
}

.terminal-frame {
  margin: 0;
  padding: 2em;
  height: 90%;
}

.terminal-menu {
  border-bottom: 1px solid white;
  overflow: hidden;
  padding: 0 2em;
}

.terminal-menu a:link,
.terminal-menu a:visited,
.terminal-menu a:hover,
.terminal-menu a:active {
  text-decoration: none;
  color: white;
  padding: 0.2em;
  display: block;
  float: left;
}

.terminal-menu a:hover,
.terminal-menu a:active {
  color: black;
  background: white;
}

#terminal {
  height: 100%;
}

#metric {
  display: none;
  width: auto;
  margin: auto;
  padding: 0;
}

.underlined_yes {
  text-decoration: underline;
}

.cursor_yes {
  outline: 1px solid red;
}

.background_def_bg { background-color: transparent; }
.background_0   { background-color: #2E3436; }
.background_1   { background-color: #CC0000; }
.background_2   { background-color: #4E9A06; }
.background_3   { background-color: #C4A000; }
.background_4   { background-color: #3465A4; }
.background_5   { background-color: #75507B; }
.background_6   { background-color: #06989A; }
.background_7   { background-color: #D3D7CF; }

.foreground_def_fg { color: #FFFFFF; }
.foreground_0   { color: #555753; }
.foreground_1   { color: #EF2929; }
.foreground_2   { color: #8AE234; }
.foreground_3   { color: #FCE94F; }
.foreground_4   { color: #729FCF; }
.foreground_5   { color: #AD7FA8; }
.foreground_6   { color: #34E2E2; }
.foreground_7   { color: #EEEEEC; }

